%p#notice= notice
%p#error= flash[:error]

%p
  %b user name:
  = @user.decorate.name
%p
  email:
  = @user.email
%p
  number of products:
  = product_count

- get_last_reviews.each do |r|
  %p
    = r.content
    = r.rating
    = r.created_at.strftime("%m-%d-%y")