- if !current_user.present?
  %div{ :class => 'jumbotron'}
    %h1 Best Products on the Net
    %p
      = link_to 'Sign up / Sign in', new_user_session_path, class: "btn btn-primary btn-lg"
- else
  %h1.categories-header Listing categories

%div{ :class => 'actions'}
  - if current_user.present? && current_user.admin?
    = link_to 'New Category', new_category_path, class: "btn btn-default"

%table.table.categories
  %tr
    %th Name
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td.table-category-name= category.name
      %td= link_to 'Show', category, class: "btn btn-info"
      %td
        - if current_user.present? && current_user.admin?
          = link_to 'Edit', edit_category_path(category), class: "btn btn-info"
      %td
        - if current_user.present? && current_user.admin?
          = link_to 'Destroy', category, method: :delete, class: "btn btn-warning", data: { confirm: 'Are you sure?' }




