%p#notice= notice

%h1.category-name= category.name
- if current_user.present? && current_user.admin?
  = link_to 'Edit', edit_category_path(category), class: "edit-category"


%h3 Products
%ul.products
  - category.products.each do |product|
    %li.product= link_to product.title, category_product_path(category, product)

- if current_user.present?
  %div{ :class => 'new-form'}
    %h3 New product
    = render 'products/form'

= link_to 'Back', categories_path, class: 'btn btn-primary '
