%p#notice= notice
%p#error= flash[:error]

%div{:class => 'title'}
  %h2
    = product.title
  %p= product.description

%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%p
  %b Owner
  = link_to product.user.decorate.name, user_path(product.user)

%h3 Reviews
%ul.products
  - reviews.each do |review|
    %li
      - review.rating.times do |i|
        %b= fa_icon "star" 
      %p= review.content
      %p= link_to review.user.decorate.name, user_path(review.user)
- if current_user.present?

  %div{ :class => 'new-form'}
    %h4 New Review
    = render 'reviews/form'



- if current_user == product.user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_path(category), class: 'btn btn-primary'
